{{ header }}{{ column_left }}
<div id="content">
  	<div class="page-header">
    	<div class="container-fluid">
      		<div class="pull-right">
        		<button type="submit" form="form-editor" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        	</div>
      		<h1>Ocmod Mirror Editor</h1>
      		<ul class="breadcrumb">
        		{% for breadcrumb in breadcrumbs %}
          		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        		{% endfor %}
      		</ul>
    	</div>
  	</div>
  	<div class="container-fluid">
  		{% if error_success %}
      	<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_success }}
        	<button type="button" class="close" data-dismiss="alert">&times;</button>
      	</div>
    	{% endif %}
  		{% if error_warning %}
      	<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        	<button type="button" class="close" data-dismiss="alert">&times;</button>
      	</div>
    	{% endif %}
    	<div class="panel panel-default">
      		<div class="panel-heading">
        		<h3 class="panel-title"><i class="fa fa-pencil"></i> Editor</h3>
      		</div>
      		<div class="panel-body">
      			<code>Ctrl-F / Cmd-F : Start searching</code><br>
      			<code>Ctrl-G / Cmd-G : Find next</code><br>
      			<code>Shift-Ctrl-G / Shift-Cmd-G : Find previous</code><br>
      			<code>Shift-Ctrl-F / Cmd-Option-F : Replace</code><br>
      			<code>Shift-Ctrl-R / Shift-Cmd-Option-F : Replace all</code><br>
      			<code>Alt-F : Persistent search (dialog doesn't autoclose, enter to find next, Shift-Enter to find previous)</code><br>
				<code>Alt-G : Jump to line</code>
      			<div class="row">
      				<div class="col-sm-2">
      					<select id="ocmodmirror-theme" class="form-control" onchange="ocmodmirror.theme()">
      						<option value="default">Default</option>
      						<option value="material">Material</option>
      						<option value="monokai">Monokai</option>
      						<option value="lucario">Lucario</option>
      					</select>
      				</div>
      			</div>
        		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-editor" class="form-horizontal">
    				<textarea id="ocmodmirror" name="ocmodmirror">{{ xml|raw }}</textarea>
    			</form>
    		</div>
    	</div>
	</div>
</div>
{{ footer }}